name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  ci:
    name: Run CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Get dependencies
        run: flutter pub get
      - name: Check genarated files
        run: |
          #!/usr/bin/env bash
          dart run build_runner build lib/ --delete-conflicting-outputs
          status=$(git status --porcelain)
          if [ -n "$status" ]; then
            echo "You need to run 'dart run build_runner build lib/ --delete-conflicting-outputs' and commit the changes."
            echo "$status"
            exit 1
          fi
      - name: Analyze project
        run: flutter analyze